## Paquets a instalar per la següent aplicació
# Title: Filemon
# Author: 011h
# Template: Filemon
# Version: 0.1
# Copyright 2022 011h
# Url: https://filemon.lab.rompetechos.com

flask-session>=0.3.2,<0.5
requests>=2,<3