<div id="uploadIfc" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0" id="myModalLabel">Subir archivo IFC</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            
            <form method="post" action="#">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label class="mandatory">Seleccionar archivo</label>
                                <input type="file" accept=".ifc" class="form-control hidden" name="ifcfile" id="fileinput">
                            </div>
                            <div class="file-upload-wrapper" id="drop-area">
                                Arrastra un archivo IFC o haz click para seleccionarlo
                            </div>
                        </div>
                    </div>
                    
                        
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light waves-effect" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-011h waves-effect waves-light">Subir</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->